.notifications{
  margin-top: .5rem;
  background-color: #F8F7F7;
  ion-label{
    color: #3B5998;
    h4{
      margin: 0;
      font-size: 20px;
    }
    p{
      color: #707070;
      font-size: 12px;
    }
  }
}
.title-dropiter{
  color: #3B5998;
}
